@charset "UTF-8";
/*Configuração global css*/


:root{
    --cormenu: rgb(115, 117, 126);
    --corh1: rgb(3, 3, 110);


    --fonte-padrao: Arial, Helvetica, sans-serif;

}
*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}

header a{
    color: white;
    text-decoration: none;
}

body{
    /*background-color: hsl(7, 18%, 10%);*/
   /*background-image: linear-gradient(90deg, hsl(7, 18%, 10%),hsl(7, 14%, 13%), rgb(23, 21, 51),hsl(236, 68%, 12%));*/
   background-image: url(imagens/galeria/Backgroud/Pagina\ inicial.jpg);
   background-size: cover;
   background-attachment: fixed;
   margin: 0px;
   
}

h1 {
    margin-top: none;
    text-align: center;
    color: rgb(3, 3, 110);
    font-size: 35px;

}

h2#bio{
    color:black;
    font-size:medium;
    padding-top: 40px;
}

p{
    
    padding-left: 25px;
    text-align: justify;
}

main{
    margin: auto;
    background-color: aliceblue;
    min-width: 340px;
    max-width: 1200px;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(2, 67, 247, 0.356);
    border:0px;
    
   
}
.sub{
       color: rgb(3, 3, 110);
       padding-left: 10px;
       padding-top: 10px;
}

sub > a{

     color: rgb(3, 3, 110);
     
    }   
    a:hover{
        color:brown;
        text-decoration: underline;
    
    }   
    a:active{
    color:yellow

    
}
      


 img#img_banner{
     margin: auto;
     border-radius: 5px;
     max-width: 1200px;
     min-width: 340px;
         
     
 }

div#menu_start{    
    margin: auto;
    min-width: 340px;
    max-width: 1220px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--cormenu);
    box-shadow: 5px 5px 5px rgba(2, 67, 247, 0.356);

   
}


nav#menu_nav > div{
    display: inline-block;
    color:rgb(3, 3, 110);
    width: 80px;
    height: 5px;
    padding: 10px;  
    font-weight: bold;   
    font-size: large;
    text-align: center;
    
    
}


#menu_nav a{
    text-decoration: none;
}
div#d2:hover{
    color: white;
    background-color: rgb(3, 3, 110);
    height: 20px;
    border-radius: 5px;
    text-decoration: none;
    
}
div#d3:hover{
    color: white;
    background-color: rgb(3, 3, 110);
    height: 20px;
    border-radius: 5px;    
    text-decoration: none;
}
div#d4:hover{
    color: white;
    background-color: rgb(3, 3, 110);
    height: 20px;
    border-radius: 5px;
    text-decoration: none;
    
}
div#d5:hover{
    color: white;
    background-color: rgb(3, 3, 110);
    height: 20px;
    border-radius: 5px;
    text-decoration: none;
    
}



div#div_voltar{
   color: white;
    font: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
       
}
div#div_galeria{
    width: 100%;
    /*margin: auto;*/
    min-height: 70px;
    min-width: 320;
    max-width: 630px;
    /*border-radius: 15px;
    background-color: var(--cormenu);
    box-shadow: 5px 5px 5px rgba(2, 67, 247, 0.356);*/

}
nav#nav_galeria > div{
    display: inline-block;
    color:rgb(3, 3, 110);    
    width: 100px;
    height: 5px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;   
    font-size: large;
    text-align: center;
    text-decoration: none;
    color: white;

}


div#g0:hover{
    color: white;
    background-color: rgb(3, 3, 110);
    height: 20px;
    border-radius: 5px;
    
}

div#g1:hover{
    color: white;
    background-color: rgb(3, 3, 110);
    height: 20px;
    border-radius: 5px;
    
}
div#g2:hover{
    color: white;
    background-color: rgb(3, 3, 110);
    height: 20px;
    border-radius: 5px;
    
}

.text_alin_center{
    text-align: center;
    color: white;
    font: bold;
}


/*Aqui pra baixo é CSS Pagina Download*/

.musica_down{

    height: 800px;
    padding-left: 50px;
}


.musica_down > div{
    
    width: 300px;
    height: 150px;
    
    
}

.img_down{
    margin: auto; 
    padding:10px;

}
    /*Aqui pra baixo div da GALERIA*/


main#Galeria_main{
    padding-left: 20px;
    min-width: 550px;
    max-width: 1200px;
}

.conteiner{
    position: relative;
    display: none;
    width: 60%;
    margin: auto;
}

.conteiner img{
    margin-top: 15px;
    border: 1px solid black;
    width: 90%;
    
}

.btnFechar{
    position: absolute;  
    top:10px;
    font-size: 50px;
    right: 1px;
    color: rgb(0, 0, 0);
    cursor: pointer;

}

.div_galeria_img{

    display: inline-block;
    width: 174px;
    height: 280px;
    border: 1px solid  black;
    
}


.div_galeria_img img{
    cursor: pointer;
    opacity: 0.7;
    width: 174px;
    height: 102px;
}
.div_galeria_img img:hover{
    opacity: 1;
}


.div_galeria_img  h2{
    text-align: center;
    font-size: 18px;
    font: bold;
    margin-top: 10px;
    margin-bottom: 15px;


}

/*Backgroud-size: cover   muito bom para imagem de fundo
  Background attachment: fixed*/

.info_car{
    text-align: initial;
    font-size: 12px;
    margin: 0px; 
    border: 0px;
    padding-left: 27px;
    
}

.info_car li{
    padding: 3px;
    font-size: 11px;
    text-align: justify;
    width: 140px;
    margin: 0px;
}


.div_galeria_img:hover{
    border: 1px solid blue;
   
}

#div_imagem div{
    margin: auto;
}

/* Daqui para baixo é a página CURSOS*/

#cursos_main{
    padding-left: 15px;
}

#tabela{
    padding-left: 20px;
    width: 600px;
    height: 400px;
    
    
    
}

.tab_cursos  td{
    border: 1px solid black;
    width: 120px;
    text-align: center;
    color: black;
    font-size: medium;
    font-display: bold;
    height: 30px;
    font-weight: bold;
   
  
}

.tab_cursos td:hover{
    background-color: rgb(3, 3, 110);
    color: white;
}


footer p{
    margin: 2px;
    padding: 2px;
    text-shadow: 2px 2px 1px black;
}