@charset "UTF-8";
/*Configuração global css*/


:root{
    --cormenu: rgb(170, 170, 170);
    --corh1: rgb(3, 3, 110);


    --fonte-padrao: Arial, Helvetica, sans-serif;

}

body{
   /*background-image: linear-gradient(90deg, rgb(156, 242, 253), white);*/
   /*background-image: linear-gradient(90deg, rgb(103, 178, 248), white);*/
   background-image: linear-gradient(90deg, hsl(7, 18%, 10%),hsl(7, 14%, 13%), rgb(23, 21, 51),hsl(236, 68%, 12%));
   margin-top: 10px;
    margin-left: 60px;
    margin-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
    
    background-attachment: fixed;
   
    
}

h1 {
   
    text-align: center;
    color: rgb(3, 3, 110);
    font-size: 35px;

}
h2#bio{
    color:black;
    font-size:medium;
}
p{
    text-align: justify;
}
main{
    margin: auto;
    background-color: aliceblue;
    border-radius: 15px;
    width: 1200px;
    padding: 50px;
    box-shadow: 5px 5px 5px rgba(2, 67, 247, 0.356);
}
.sub{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(3, 3, 110);
}

.destaque{
    
  font-family: Arial, Helvetica, sans-serif;

}

.banner{
    /*box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.562);*/
    border-radius: 15px;

}

div#menu_start{
    margin: auto;
    width: 750px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(170, 170, 170);
    box-shadow: 5px 5px 5px rgba(2, 67, 247, 0.356);
   
}


nav#menu_nav > div{
    display: inline-block;
    color:rgb(3, 3, 110);
    width: 70px;
    height: 5px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;   
    font-size: large;
    text-align: center;

    
}


div#d1:hover{
    color: white;
    background-color: rgb(3, 3, 110);
    height: 10px;
    border-radius: 5px;
    
}
div#d2:hover{
    color: white;
    background-color: rgb(3, 3, 110);
    height: 10px;
    border-radius: 5px;
    
}
div#d3:hover{
    color: white;
    background-color: rgb(3, 3, 110);
    height: 10px;
    border-radius: 5px;    
}
div#d4:hover{
    color: white;
    background-color: rgb(3, 3, 110);
    height: 10px;
    border-radius: 5px;
    
}


nav#menu_nav > p{
    display: none;    
}

div#div_voltar{
    background-color: aliceblue;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 55px;
    height: 40px;
    padding: 6px;
    
    
}

nav#nav_galeria > div{
    display: inline-block;
    display: inline-flex;
    border-radius: 5px;
    text-align: inherit;
    width: 100px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(170, 170, 170);
    
}

div#g1:hover{
    color: white;
    background-color: rgb(3, 3, 110);
    height: 40px;
    border-radius: 5px;
    
}
div#g2:hover{
    color: white;
    background-color: rgb(3, 3, 110);
    height: 40px;
    border-radius: 5px;
    
}
div#g3:hover{
    color: white;
    background-color: rgb(3, 3, 110);
    height: 40px;
    border-radius: 5px;    
}
div#g4:hover{
    color: white;
    background-color: rgb(3, 3, 110);
    height: 40px;
    border-radius: 5px;
    
}