@charset "UTF-8";
/*Configuração global css*/



body{
   background-image: linear-gradient(90deg, rgb(156, 242, 253), white);
   margin-top: 50px;
    margin-left: 50px;
    margin-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    
}
h1 {
   
    text-align: center;
    color: blue;
    font-size: 50px;

}
h2#bio{
    color:black;
    font-size:medium;
}
p{
    text-align: justify;
}
main{
    background-color: aliceblue;
    border-radius: 15px;
    width: 650px;
    padding: 50px;
}

