@charset "utf-8";


*{
    font-family: Arial, Helvetica, sans-serif;
}


h1{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 40px;;
    text-align: center;
    color: blue;    
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.274);
   
}

h2{
    padding-left: -10px;
}

h3{
    padding-left: -10px;
}
#imc{
    padding-left: 50px;
    text-align: justify;
    max-width: 450px;
    min-width: 175px;


}

#dados_pessoal{
    text-align: center;
    display: inline-block;
    width: 350px;
    background-color: blue;
    padding-top: 0px;
    color: white;
    border-radius: 25px;

}
#dados_pessoal > div{
    padding: 10px;
    display: inline-block;

}

#txtpeso{
    width: 80px;
}
#txtaltura{
    width: 80px;
}

#tab_imc{
    border: 1px solid black;
    border-collapse: collapse;
    
}


td{
    border: 1px solid black;
    padding: 3px;
    width: 150px;
}

.text_ali{
    text-align: center;
    background-color: rgb(230, 230, 230);
}

#resultado{
    
    padding: 20px;
    background-color: brown;
    width: 400px;
    height: 50px;
}