#container{
    display: block;
    margin: auto;
    width: 325px;
    height: 470px;
    background-color: rgb(108, 182, 192);
    border: 1px solid black;
    border-radius: 20px;
    /* padding-top: 30px; */
    

}
#h1Calc{    
    text-align: center;
    
}

#painel{
    display: block;
    margin: auto;
    width: 310px;
    height: 70px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 128, 0);
}
#btnsIn{
    /* display: block; */
    display: flex;
    margin: auto;
    margin-top: 30px;
    background-color:  rgb(108, 182, 192);
    width: 310px;
    height: 270px;
    border-radius: 20px;
    
}

#numIn{
    /* display: block;
    margin: auto; */

    padding-left: 10px; 
    background-color: rgba(67, 64, 140, 0.572);
    width: 230px;
    height: 250px;
    border-radius: 5px;

}
#operadoresIn{
   
    background-color: rgba(67, 64, 140, 0.572);
    margin-left: 4px;
    width: 62px;
    height: 250px;
    border-radius: 5px;

}

/* botões */
.btnEntrada{
    /* display: block; */
    font-size: 25px;
    width: 70px;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid black;

}

.btnOperadorEntrada{
    margin: auto;
     display: block;
     font-size: 40px;
     width: 50px;
     height: 50px;
     border-radius: 10px;
     margin-top: 10px;
     border: 2px solid black;
}
